body {
  margin: 0;
  padding: 0;
  background-color: #b7b7b7;
}

.product {
  /* background-color: #7c96ab; */
  display: flex;
  margin: 20px 10px;
  position: relative;
  align-items: center;
  /* justify-content: center; */
}

.product .right-block {
  color: #262a56;
  font-size: 25px;
  padding: 0 20px;
}
.product-actions {
  margin-top: 10px;
}
.add-to-cart {
  border-radius: 18px;
  margin-right: 10px;
  color: Red;
  font-weight: bold;
  background-color: #f17d18;
}
.action-icons:hover {
  cursor: pointer;
}
